.dialog-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 250, 1);
    box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.5);
    width: 650px;
    padding: 30px;
    border-radius: 12px;
}

.input-message-common {
    padding: 15px;
    border-radius: 8px;
}

.dialog-form input {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
}

.dialog-form-message {
    height: 130px;
    position: relative;
    resize: none;
    width: 590px;
    border: 1px;
    margin-bottom: 30px;
}

.dialog-form-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    margin-bottom: 30px;
}


::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(179, 179, 186, 1);
}

.dialog-form-name {
    margin-bottom: 15px;
}

.dialog-form-message::placeholder {
    position: absolute;
    top: 10px;
    left: 15px;
}

.fieldset label {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(179, 179, 186, 1);
    text-transform: uppercase;
}

.fieldset-number {
    margin: 15px 0;
}

.fieldset {
    margin-bottom: 30px;
}

.dialog-form-button {
    width: 100%;
    padding: 18px 30px 18px 30px;
    border-radius: 12px;
    background-color: rgba(36, 163, 255, 1);
    box-shadow: 0px 15px 80px 0px rgba(40, 40, 86, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

.dialog-form-button:hover {
    background-color: rgba(0, 133, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}

.dialog-form-closebtn {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    border: none;
    background-color: rgba(245, 245, 250, 1);
    position: absolute;
    top: 25px;
    left: 585px;
}

.dialog-form-closebtn img:hover {
    border-radius: 8px;
    background-color: rgba(230, 230, 240, 1);
}